@using akcet_fakturi.Models
@using Kendo.Mvc.UI
@using Microsoft.AspNet.Identity
@model IEnumerable<akcetDB.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.AllCompanies = "active";
}

<h2>All companies</h2>
<!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
<p>
    @Html.ActionLink("Create new", "Create",  null, new {@class="btn btn-success btnCreateNew" })
</p>

@(Html.Kendo().Grid(Model).Name("Copmanies").Sortable().Filterable().Pageable().Columns(columns =>
{
    columns.Bound(m => m.CompanyName);
    columns.Bound(m => m.CompanyMol);
    columns.Bound(m => m.DdsNumber);
    columns.Bound(m => m.CompanyDescription);
    columns.Bound(m => m.CompanyPhone);
    columns.Template(@<text> @GetUserNameById(item.UserId)</text>).Title("Email");
    columns.Template(@<text>
        @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }) |
        @Html.ActionLink("Details", "Details", new { id = item.CompanyID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CompanyID })
    </text>).Title("Functions");
})
      )

@functions
{
    private Data.AppDbContext db = new Data.AppDbContext();
    private string GetUserNameById(string UserId)
    {
        var user = db.Users.Find(UserId);
        return user.Email;
    }
}
