@model akcetDB.Fakturi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.InvoicesAll = "active";
}

<h2>Изтрии</h2>

<h3>Сигурни ли сте че изкате да изтриете тази фактура?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
     

        <dt>
            @Html.DisplayNameFor(model => model.FakturaNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FakturaNumber)
        </dd>

     

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    <div style="box-shadow: 0 0 10px black; padding: 10px">
              @Html.Raw(Model.FakturaHtml)

    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-top: 20px;">
            <input type="submit" value="Изтрии" class="btn btn-danger btn-lg" /> |
            @Html.ActionLink("Обратно към всички фактури", "Index", null, new {@class="btn btn-info btn-lg" })
        </div>
    }
</div>
