@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Fakturi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.InvoicesAll = "active";
}

<h2>Запазени фактури</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@(Html.Kendo().Grid(Model).Name("Copmanies").Sortable().Filterable().Pageable().Columns(columns =>
{
    columns.Bound(m => m.InvoiceDate);
    columns.Bound(m => m.InvoiceEndDate);
 
    columns.Bound(m => m.TotalPrice);
    columns.Bound(m => m.DateCreated);
    columns.Bound(m => m.DateModified);
    columns.Bound(m => m.UserName);

    columns.Template(@<text>
        @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceID }) |
        @Html.ActionLink("Details", "Details", new { id = item.InvoiceID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceID })
    </text>).Title("Функции");
}).NoRecords("Все още няма запазени фактури.")
)