@using akcet_fakturi.Helpers
@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Fakturi>

@{
    ViewBag.Title = "UserInvoices";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.InvoicesAllUser = "active";
}

<h2>
    @*Created invoices*@
    @Html.MultiLanguage(1071)
</h2>

<p>
    @Html.ActionLink("Create new", "Invoices", "Home", null, new { @class = "btn btn-warning btnCreateNew" })
</p>

@(Html.Kendo().Grid(Model.OrderByDescending(s => s.DateCreated)).Name("Copmanies").Sortable().Filterable().Pageable().Columns(columns =>
{
columns.Bound(m => m.FakturaNumber);
columns.Bound(m => m.Company.CompanyName);
columns.Bound(m => m.ProductInvoices.Count).Title("Products");

columns.Bound(m => m.TotalPrice);

columns.Bound(m => m.InvoiceDate);
columns.Bound(m => m.Period);

columns.Template(@<text>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.InvoiceID }) |
            @Html.ActionLink("Details", "Details", new { id = item.InvoiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceID })*@
        <button class="btn btn-info btn-sg btnForModal" data-toggle="modal" data-target=".bs-example-modal-lg" data-idinvoice="@item.InvoiceID">
            @*Open*@
            @Html.MultiLanguage(1063)
        </button>
</text>).Title(Html.MultiLanguage(1064));
}).NoRecords(Html.MultiLanguage(1065))
)


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel"></h4>

            </div>
            <div class="modal-body" id="modal-body-ajax">

            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-lg" id="print-button">
                    @*Print*@
                    @Html.MultiLanguage(1066)
                </button>
                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">
                    @Html.MultiLanguage(1052)
                    @*Close*@
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<script src="~/Scripts/jquery.browser.min.js"></script>
<script src="~/Scripts/jquery.printElement.min.js"></script>

@section Scripts {
    <script>
        var idStatic, idLang, idStaticText;



        $('#print-button')
            .click(function () {
                $("#modal-body-ajax").printElement({ printMode: 'popup' });
            });


        $(".btnForModal").click(function () {
            idInvoice = $(this).data("idinvoice");

            $.ajax({
                url: '/Invoices/GetInvoice',
                type: 'POST',
                dataType: 'json',
                data: { IdInvoice: idInvoice },
                success: function (data) {
                    //   console.log(data);
                    $("#modal-body-ajax").html(data);

                },
                error: function () {
                    alert('error');
                }
            });
        });
    </script>
}