@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Projects = "active";
}

<h2>Projects</h2>
  <!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
<p>
    @Html.ActionLink("Create new", "Create", null, new {@class="btn btn-warning btnCreateNew" })
</p>

@(Html.Kendo().Grid(Model).Name("Projects").Sortable().Filterable().Pageable().Columns(columns =>
{
    columns.Bound(m => m.ProjectName);
    columns.Bound(m => m.DateCreated);
    columns.Bound(m => m.DateModified);
    columns.Template(@<text>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
    </text>).Title("Functions");
})
)
