@using akcet_fakturi.Helpers
@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Projects = "active";
}

<h2>@Html.MultiLanguage(32)</h2>
  <!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
<p>
    @Html.ActionLink(Html.MultiLanguageString(1075), "Create", null, new {@class="btn btn-warning btnCreateNew" })
</p>

@(Html.Kendo().Grid(Model).Name("Projects").Sortable().Filterable().Pageable().Columns(columns =>
{
columns.Bound(m => m.ProjectName);
columns.Bound(m => m.DateCreated);
columns.Bound(m => m.DateModified);
columns.Template(@<text>
        @Html.ActionLink(Html.MultiLanguageString(1086), "Edit", new { id = item.ProjectID }) |
        @Html.ActionLink(Html.MultiLanguageString(1085), "Details", new { id = item.ProjectID }) |
        @Html.ActionLink(Html.MultiLanguageString(1015), "Delete", new { id = item.ProjectID })
</text>).Title(Html.MultiLanguageString(1064));
})
)