@using akcet_fakturi.Helpers
@model akcetDB.ProductInvoiceTemp


@using (Ajax.BeginForm("SaveProductAjax", "Home", null,
                                                                        new AjaxOptions
                                                                        {
                                                                            OnBegin = "removeSaveProductButton",
                                                                            UpdateTargetId = "rowProducts",
                                                                            OnSuccess = "getresultProduct",
                                                                            InsertionMode = InsertionMode.InsertAfter,
                                                                            HttpMethod = "POST"
                                                                        }, new { @class = "form-horizontal", id = "form-product" }))
{
    <div class="col-md-10">
        <div class="col-md-2">
            <div class="form-group">
                <label for="product-select">
                    @*Description*@
                    @Html.MultiLanguage(1008)


                </label>
                @Html.DropDownList("Products", null, htmlAttributes: new { @class = "form-control  select2", style = "width: 100%" })
            </div>
            <!-- /.form-group -->
        </div>

        <div class="col-md-1 ">
            <div class="newProductName">
                <label for="product-new">
                    @*New*@
                    @Html.MultiLanguage(1004)


                </label>
                <button type="button" class="btn btn-warning btn-sg" id="product-new" data-toggle="modal" data-target="#product-modal">
                    <span class="glyphicon glyphicon-plus"> </span>
                </button>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="project">
                    @*Project*@
                    @Html.MultiLanguage(1009)
                </label>
                @Html.DropDownList("Projects", null, htmlAttributes: new { @class = "form-control  select2", style = "width: 100%" })

            </div>

        </div>
        <div class="col-md-1 ">
            <div class="newProductName">
                <label for="project-new">
                    @*New*@
                    @Html.MultiLanguage(1004)
                </label>
                <button type="button" class="btn btn-warning btn-sg" id="project-new" data-toggle="modal" data-target="#project-modal">
                    <span class="glyphicon glyphicon-plus"> </span>
                </button>
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label for="quantity">
                    @*Quantity*@

                    @Html.MultiLanguage(1010)
                </label>
                @*<input type="text" class="form-control" id="quantity"/>*@
                @Html.TextBoxFor(model => model.Quanity, new { @class = "form-control quanity", type = "number", min = "0", placeholder = "0.00", pattern = @"\d+(\.\d{2})?" })
            </div>
        </div>



        <div class="col-md-1">
            <div class="form-group">
                <label for="prize" class="pull-right">
                    @*Prize*@
                    @Html.MultiLanguage(1011)

                </label>
                @*<input type="text" class="form-control"/>*@
                @Html.TextBoxFor(model => model.ProductPrice, new { @class = "form-control price", type = "number", min = "0", placeholder = "0.00", pattern= @"\d+(\.\d{2})?" })
            </div>
        </div>

        <div class="col-md-2">
            <div class="dropdown">
                <label for="dds">
                    @*VAT (%)*@

                    @Html.MultiLanguage(1012)
                </label>

                @Html.DropDownList("Dds", null, htmlAttributes: new { @class = "form-control dds", style = "width: 100%" })
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="totalprize">
                    @*Total prize*@
                    @Html.MultiLanguage(1013)
                </label>
                <input type="text" class="form-control total-price" disabled>
            </div>
        </div>

    </div>


    <div class="col-md-2">

        <div class="col-md-4 col-md-offset-1">

            <div class="form-group saveProduct">
                <label for="save">
                    @*Save*@
                    @Html.MultiLanguage(1014)
                </label>
                <button type="button" class="btn btn-warning btn-sm" onclick="btnSubmitProductclick(event)"> <span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-1">

            <div class="form-group deleteProduct" style="display: none">

                <label for='delete'>
                    @*Delete*@

                    @Html.MultiLanguage(1015)
                </label>
                @Ajax.ActionLink(" ", "DeleteProductInvoiceTemp", "Home", new { id = Model.ProductInvoiceID }, new AjaxOptions { OnSuccess = "DeleteRowProduct" }, new { @class = "btn btn-danger btn-sm btnDelete glyphicon glyphicon-remove" })

            </div>
        </div>
    </div>
}
<script>
    function btnSubmitProductclick(event) {
        event.preventDefault();
        $("#form-product").submit();


        //var something = $(this).parent().find(".form-control");
        //console.log(something);
        //$(".form-control").prop('disabled', true);
    };

    function removeSaveProductButton() {

        $(".newProductName").hide();
        $(".saveProduct").hide();

    }
    function getresultProduct(data) {

        var beforeForm = $("#form-product");
        if (data) {
            $(".select2").select2();
            beforeForm.find(".form-control").prop('disabled', true);

            var deleteButton = $(data).find(".deleteProduct a").attr("href");
            //console.log(deleteButton);

            beforeForm.find(".deleteProduct a").attr("href", deleteButton);
            beforeForm.find(".deleteProduct").removeAttr("style");

            var totalPriceInput = beforeForm.find(".total-price");

            var quantity = beforeForm.find(".quanity").val();
            var pricePerProduct = beforeForm.find(".price").val();
            var dds = beforeForm.find(".dds").val();
            //console.log("p: " + pricePerProduct + "q: " + quantity + "dds: " +dds);
            //   var price = (quantity * pricePerProduct * (dds / 100)) + (quantity * pricePerProduct);
            var price = quantity * pricePerProduct;
            totalPriceInput.val(price);
            //   $("#form-product").removeAttr("id");
            var arr = deleteButton.split('/');
            beforeForm.attr("id", arr[3]);



        } else {
            $("#alert-box").alert();
            $("#alert-box")
                .fadeTo(2000, 500)
                .slideUp(500,
                    function () {
                        $("#alert-box").alert('close');
                    });

            beforeForm.find(".newProductName").show();
            beforeForm.find(".saveProduct").show();
        }
    };

    function DeleteRowProduct(data) {
        $("#" + data).remove();
        console.log("row is deleted");
    };
</script>