@using akcet_fakturi.Helpers
@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Address>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Addresses = "active";
}

<h2>
    @*Addresses*@
    @Html.MultiLanguage(34)
</h2>
<!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
<p>
    @Html.ActionLink(Html.MultiLanguage(1077), "Create",  null, new {@class="btn btn-warning btnCreateNew" })
</p>

@(Html.Kendo().Grid(Model).Name("Addreses").Sortable().Filterable().Pageable().Columns(columns =>
{
columns.Bound(m => m.StreetName);
columns.Bound(m => m.ZipCode);
columns.Bound(m => m.City);
columns.Bound(m => m.DateCreated);
columns.Bound(m => m.DateModified);
columns.Template(@<text>
        @Html.ActionLink(Html.MultiLanguage(1086), "Edit", new { id = item.IdAddress }) |
        @Html.ActionLink(Html.MultiLanguage(1085), "Details", new { id = item.IdAddress }) |
        @Html.ActionLink(Html.MultiLanguage(1015), "Delete", new { id = item.IdAddress })
</text>).Title(Html.MultiLanguage(1064));
})
)