@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Address>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Addresses = "active";
}

<h2>Адреси</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid(Model).Name("Addreses").Sortable().Filterable().Pageable().Columns(columns =>
{
columns.Bound(m => m.StreetName);
columns.Bound(m => m.StreetNumber);
columns.Bound(m => m.ZipCode);
columns.Bound(m => m.City);
columns.Bound(m => m.DateCreated);
columns.Bound(m => m.DateModified);
columns.Template(@<text>
        @Html.ActionLink("Edit", "Edit", new { id = item.IdAddress }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdAddress }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdAddress })
</text>).Title("Функции");
})
)
