
@model akcetDB.WerkbriefHoursTemp


@using (Ajax.BeginForm("SaveWerkbriefAjax", "WerkBrief", null,
                                                new AjaxOptions
                                                {
                                                    OnBegin = "removeSaveProductButton",
                                                    UpdateTargetId = "rowProducts",
                                                    OnSuccess = "getresultProduct",
                                                    InsertionMode = InsertionMode.InsertAfter,
                                                    HttpMethod = "POST"
                                                }, new { @class = "form-horizontal", id = "form-product" }))
{
    <div class="col-md-10">
        @****  Product   ****@
        <div class="col-md-1">
            <div class="form-group">
                @Html.LabelFor(m => m.Week)
                @Html.EditorFor(model => model.Week, new { htmlAttributes = new { @class = "form-control", value = "Week", type="number" } })
                @Html.ValidationMessageFor(model => model.Week, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->
        </div>


        @****  Product   ****@
        <div class="col-md-2">
            <div class="form-group">
                <label for="product-select">Описание</label>
                @Html.DropDownList("Products", null, htmlAttributes: new { @class = "form-control  select2", style = "width: 100%", name="productId" })
            </div>
            <!-- /.form-group -->
        </div>

        @**** Button Product New  ****@
        <div class="col-md-1 ">
            <div class="newProductName">
                <label for="product-new">Нов</label>
                <button type="button" class="btn btn-info btn-sm" id="product-new" data-toggle="modal" data-target="#product-modal">
                    <span class="glyphicon glyphicon-plus"> </span>
                </button>
            </div>
        </div>


        @**** Project ****@
        <div class="col-md-2">
            <div class="form-group">
                <label for="project">Проект</label>
                @Html.DropDownList("Projects", null, htmlAttributes: new { @class = "form-control  select2", style = "width: 100%" })

            </div>

        </div>

        @**** Button Project New  ****@
        <div class="col-md-1 ">
            <div class="newProductName">
                <label for="project-new">Нов</label>
                <button type="button" class="btn btn-info btn-sm" id="project-new" data-toggle="modal" data-target="#project-modal">
                    <span class="glyphicon glyphicon-plus"> </span>
                </button>
            </div>
        </div>

        <div class="col-md-5 no-padding">
            <div class="container">
                <div class="row seven-cols">

                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Monday)
                            @Html.EditorFor(m => m.Monday, new { htmlAttributes = new { @class = "form-control no-padding", type="number" } })
                    
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Tuesday)
                            @Html.EditorFor(m => m.Tuesday, new { htmlAttributes = new { @class = "form-control no-padding", type="number" } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Wednesday)
                            @Html.EditorFor(m => m.Wednesday, new { htmlAttributes = new { @class = "form-control no-padding", type="number" } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Thursday)
                            @Html.EditorFor(m => m.Thursday, new { htmlAttributes = new { @class = "form-control no-padding", type="number" } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Friday)
                            @Html.EditorFor(m => m.Friday, new { htmlAttributes = new { @class = "form-control no-padding", type="number" } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Saturday)
                            @Html.EditorFor(m => m.Saturday, new { htmlAttributes = new { @class = "form-control no-padding", type="number" } })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Sunday)
                            @Html.EditorFor(m => m.Sunday, new { htmlAttributes = new { @class = "form-control no-padding", type="number" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-2">
        <div class="col-md-3">
            <div class="form-group">
                <label for="quantity">Общо</label>
                <input type="text" class="form-control total-price" style="padding: 0" disabled>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1">

            <div class="form-group saveProduct">
                <label for="save">Запази</label>
                <button type="button" class="btn btn-success btn-sm" onclick="btnSubmitProductclick(event)"> <span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>

        <div class="col-md-3">

            <div class="form-group deleteProduct" style="display: none">

                <label for='delete'>Изтрий</label>
                @Ajax.ActionLink(" ", "DeleteWerkbriefHoursTempTemp", "WerkBrief", new { id = Model.WerkbriefHoursIDTemp }, new AjaxOptions { OnSuccess = "DeleteRowProduct" }, new { @class = "btn btn-danger btn-sm btnDelete glyphicon glyphicon-remove" })

            </div>
        </div>
    </div>
}
<script>
    function btnSubmitProductclick(event) {
        event.preventDefault();
        $("#form-product").submit();


        //var something = $(this).parent().find(".form-control");
        //console.log(something);
        //$(".form-control").prop('disabled', true);
    };

    function removeSaveProductButton() {
        $(".newProductName").remove();
        $(".saveProduct").remove();

    }
    function getresultProduct(data) {
        if (data) {
            $(".select2").select2();
            var beforeForm = $("#form-product");
            beforeForm.find(".form-control").prop('disabled', true);

            var deleteButton = $(data).find(".deleteProduct a").attr("href");
            console.log(deleteButton);

            beforeForm.find(".deleteProduct a").attr("href", deleteButton);
            beforeForm.find(".deleteProduct").removeAttr("style");

            var totalPriceInput = beforeForm.find(".total-price");
            var totalHours = 0;

            beforeForm.find(".seven-cols input").each(function (index, elem) {
                if ($(elem).val() > 0) {
                    totalHours = totalHours + parseFloat($(elem).val());
                }
            });
            //var quantity = beforeForm.find(".quanity").val();
            //var pricePerProduct = beforeForm.find(".price").val();
            //var dds = beforeForm.find(".dds").val();
            console.log(totalHours);
            //   var price = (quantity * pricePerProduct * (dds / 100)) + (quantity * pricePerProduct);
            totalPriceInput.val(totalHours);
            //   $("#form-product").removeAttr("id");
            var arr = deleteButton.split('/');
            beforeForm.attr("id", arr[3]);

        } else {
            $("#alert-box").alert();
            $("#alert-box")
                .fadeTo(2000, 500)
                .slideUp(500,
                    function () {
                        $("#alert-box").alert('close');
                    });
        }
    };

    function DeleteRowProduct(data) {
        $("#" + data).remove();
        console.log("row is deleted");
    };
</script>