@using akcet_fakturi.Helpers
@model akcetDB.WerkbriefTemp
<div class="alert alert-danger alert-dismissable" id="alert-box" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
   <h5>Error. </h5>
</div>
<div role="tabpanel" class="tab-pane active" id="home">
    <div class="row">

        @using (Ajax.BeginForm("CreateWerkbriefAjax", "WerkBrief", null,
                new AjaxOptions
                {
                    OnSuccess = "getresultInvoice",
                    HttpMethod = "POST"
                }, new { @class = "form-horizontal", id = "form-invoice" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-2"> @Html.MultiLanguage(1028)</label>
                            @Html.DropDownList("Companies", null, htmlAttributes: new { @class = "form-control  select2", style = "width: 100%", })
                            @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })

                    </div>
                <!-- /.form-group -->
            </div>

            <div class="col-md-1">
                <label for="new-company">@Html.MultiLanguage(1004)</label>
                <button type="button" class="btn btn-warning btn-sg" data-toggle="modal" data-target="#myModal" id="new-company"> <span class="glyphicon glyphicon-plus"> </span></button>
            </div>

            <!-- /.form group -->
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label(Html.MultiLanguage(1007), htmlAttributes: new { @for = "period" })
                    @Html.EditorFor(model => model.Period, new { htmlAttributes = new { @class = "form-control"} })
                </div>
            </div>
        }

    </div>

    <div class="row text-center" style="margin-top: 50px">
        <a class="btn btn-warning btn-lg btnNext" id="submitInvoice">
            @*Continue*@
            @Html.MultiLanguage(1029)
        </a>

    </div>

    @*<div id="reviewInvoice"><iframe style='width: 100%; height: 1200px' src='@Url.Action("Index", "InvoiceTemplate", new {Area = "InvoiceTemplates" })'></iframe></div>*@

</div>

<script>

   function ClickNext() {
        $("#form-invoice").find(".form-control").prop('disabled', true);
        $('.nav-tabs > .active').addClass('disabled');
        $('.nav-tabs > .active').next('li').find('a').trigger('click');
        $('.nav-tabs > .active').removeAttr("style");

    };

    $(document).ready(function () {
        $("#alert-box").hide();
    });

    $("#submitInvoice")
        .click(function (event) {
            event.preventDefault();
            $("#form-invoice").submit();
        });

    function getresultInvoice(data) {
        if (data) {
            ClickNext();
            console.log(data);
        } else {
            $("#alert-box").alert();
            $("#alert-box")
                .fadeTo(2000, 500)
                .slideUp(500,
                    function() {
                        $("#alert-box").alert('close');
                    });
        }
    };
</script>

