
@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Invoices = "active";
}

<style>
    /*.disabled{
    pointer-events: none;
}*/
</style>

<!--New Invoice menu-->
<div>

    <!-- Nav tabs -->
    <div class="container">
        <ul class="nav nav-tabs" role="tablist" style="margin-top:30px;">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Нова фактура</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Въвеждане на продукт</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Преглед</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Запази</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="margin-top: 10px;">

            <!-- tab to add Company-->
            @Html.Partial("InvoicesPartials/_TabCompanyPartial")

            <!-- tab to add Products-->
            @Html.Partial("InvoicesPartials/_TabProductsPartial")


            <!-- tab to Review result-->
            @Html.Partial("InvoicesPartials/_TabReviewPartial")

            <!-- tab to save result-->
            @Html.Partial("InvoicesPartials/_TabSavePartial")
        </div>

    </div>



    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <a class="btn btn-primary btnNext">Next</a>
        </div>
        <div class="tab-pane" id="tab2">
            <a class="btn btn-primary btnNext">Next</a>
            <a class="btn btn-primary btnPrevious">Previous</a>
        </div>
        <div class="tab-pane" id="tab3">
            <a class="btn btn-primary btnPrevious">Previous</a>
        </div>
    </div>


</div>

<!-- Modal to add Address-->
@Html.Partial("InvoicesPartials/_ModalCompaniePartial")


<!-- Modal to add Address-->
@Html.Partial("InvoicesPartials/_ModalAddressPartial")


<!-- Modal to add Product-->
@Html.Partial("InvoicesPartials/_ModalProductPartial")



<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="~/Scripts/select2.full.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
        //Date range picker
        var datepicker = $('#reservation');
        datepicker.datepicker();
        //Date range picker with time picker
    });

    $('.btnNext').click(function () {
        $('.nav-tabs > .active').addClass('disabled');
        $('.nav-tabs > .active').next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function () {
        $('.nav-tabs > .active').prev('li').find('a').trigger('click');
    });


    $("#submitButton")
        .click(function (event) {
            event.preventDefault();
            $("#form-company").submit();
        });

    function OnAjaxRequestComplete(request, status) {
        console.log("Complete");
    };

</script>
