@using System.Reflection
@using akcet_fakturi.Helpers


<footer class="footer">
    <div class="container">



        <div class="row" style="margin-top:40px; background-color:#F8F8F8; border-radius:5px; padding-top:10px;">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" style="width: 2%">
                    <p>
                        @*Designed by*@
                        @Html.MultiLanguage(42)
                        <a href="http://acceler8design.com/" title="Petya Petkova" target="_blank">Petya Petkova</a>
                        <br />
                        @*Programmed by*@
                        @Html.MultiLanguage(43)
                        <a href="http://s2kdesign.com" title="www.s2kdesign.com" target="_blank">Svetlin Krastanov</a>
                    </p>
                </li>
                <li role="presentation" class="@ViewBag.HowItsMade">
                    <a href="#">
                        @*How its working?*@
                        @Html.MultiLanguage(44)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.ForUs">
                    <a href="#">
                        @*About us*@
                        @Html.MultiLanguage(45)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.Contacts">
                    <a href="#">
                        @*Contacts*@
                        @Html.MultiLanguage(46)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.Contacts">
                    <a href="#" style="font-size: 0.8em; padding: 0;">
                            @Html.MultiLanguage(1087): @typeof(akcet_fakturi.MvcApplication).Assembly.GetName().Version
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
