@using akcet_fakturi.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>@Html.MultiLanguage(1024)</title>
    <meta charset="utf-8">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
           html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
           respond.min.js"></script>
     <![endif]-->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/daterangepicker-bs3.css" rel="stylesheet" />
    <link href="~/Content/select2.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="~/Content/invoicePrint.css" rel="stylesheet" />

    @Styles.Render("~/Content/Css/kendo/kendoCss")
    <link href="~/Content/formValidation.min.css" rel="stylesheet" />

</head>
<body>

    <!--HEADER-->
    <div class="container">
        <div class="row" style="margin-top: 20px;">


            @Html.Partial("_LoginPartial")
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/kendoJS")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/js/cultures/kendo.culture.bg-BG.min.js"></script>
    <!--LAYOUT-->
    <!--Top Menu-->
    <div class="container">


        <div class="row" style="margin-top:40px; background-color:#F8F8F8; border-radius:5px; padding-top:10px; padding-bottom: 10px;">
            <ul class="nav nav-pills nav-justified">
                @*<li role="presentation">
                        <a href="@Url.Action("Index", "Home")">Начало</a>
                    </li>*@
                <li role="presentation" class="@ViewBag.Invoices">
                    <a href="@Url.Action("Invoices", "Home")">
                        @*Create Invoice*@
                        @Html.MultiLanguage(27)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.Werkbrief">
                    <a href="@Url.Action("Index", "WerkBrief")">
                        @*Create Werkbrief*@
                        @Html.MultiLanguage(28)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.InvoicesAllUser">
                    <a href="@Url.Action("UserInvoices", "Invoices")">
                        @*All invoices*@
                        @Html.MultiLanguage(29)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.AllUserWerkbriefs">
                    <a href="@Url.Action("AllUserWerkbriefs", "AllWerkbriefs")">
                        @*All Werkbriefs*@
                        @Html.MultiLanguage(30)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.Companies">
                    <a href="@Url.Action("Index", "Companies")">
                        @*Companies*@
                        @Html.MultiLanguage(31)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.Projects">
                    <a href="@Url.Action("Index", "Projects")">
                        @*Projects*@
                        @Html.MultiLanguage(32)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.Products">
                    <a href="@Url.Action("Index", "Products")">
                        @*Products*@
                        @Html.MultiLanguage(1025)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.Addresses">
                    <a href="@Url.Action("Index", "Addresses")">
                        @*Addresses*@
                        @Html.MultiLanguage(34)
                    </a>
                </li>
                <li role="presentation" class="@ViewBag.Manage">
                    <a href="@Url.Action("Index", "Manage")">
                        @*My profile*@
                        @Html.MultiLanguage(35)
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <!--New Invoice menu-->
    @if (User.IsInRole("Admin"))
    {
        <div class="container" style=" margin-top: 20px; border-radius: 5px;">

            <div class="row" style=" border-radius:5px; padding-top:10px; padding-bottom: 10px;">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation" class="@ViewBag.InvoicesAll">
                        <a href="@Url.Action("Index", "Invoices")">
                            @*All created invoices*@
                            @Html.MultiLanguage(36)
                        </a>
                    </li>
                    <li role="presentation" class="@ViewBag.AllWerkbriefs">
                        <a href="@Url.Action("AllWerkbriefs", "AllWerkbriefs")">
                            @*All created werkbriefs*@
                            @Html.MultiLanguage(37)
                        </a>
                    </li>
                    <li role="presentation" class="@ViewBag.Dds">
                        <a href="@Url.Action("Index", "DDs")">
                            @*All vats*@
                            @Html.MultiLanguage(38)
                        </a>
                    </li>
                    <li role="presentation" class="@ViewBag.AllCompanies">
                        <a href="@Url.Action("Index", "AllCompanies")">
                            @*Companies*@
                            @Html.MultiLanguage(31)
                        </a>
                    </li>
                    <li role="presentation" class="@ViewBag.Register">
                        <a href="@Url.Action("Register", "Account")">
                            @*Registration*@
                            @Html.MultiLanguage(39)
                        </a>
                    </li>
                    <li role="presentation" class="@ViewBag.ApplicationUsers">
                        <a href="@Url.Action("Index", "AppUsers")">
                            @*Users*@
                            @Html.MultiLanguage(40)
                        </a>
                    </li>
                    <li role="presentation" class="@ViewBag.Roles">
                        <a href="@Url.Action("ViewAllRoles", "Roles")">
                            @*Roles*@
                            @Html.MultiLanguage(41)
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    }

    <div class="container body-content">
        @RenderBody()
        <hr />





    </div>
    <!--FOOTER-->


    <footer class="footer">
        <div class="container">



            <div class="row" style="margin-top:40px; background-color:#F8F8F8; border-radius:5px; padding-top:10px;">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation">
                        <p>
                            @*Designed by*@
                            @Html.MultiLanguage(42)
                            <a href="#" title="Petya Petkova">Petya Petkova</a>
                            <br />
                            @*Programmed by*@
                            @Html.MultiLanguage(43)
                            <a href="http://s2kdesign.com" title="www.s2kdesign.com" target="_blank">Svetlin Krastanov</a>
                        </p>
                    </li>
                    <li role="presentation" class="@ViewBag.HowItsMade">
                        <a href="#">
                            @*How its working?*@
                            @Html.MultiLanguage(44)
                        </a>
                    </li>
                    <li role="presentation" class="@ViewBag.ForUs">
                        <a href="#">
                            @*About us*@
                            @Html.MultiLanguage(45)
                        </a>
                    </li>
                    <li role="presentation" class="@ViewBag.Contacts">
                        <a href="#">
                            @*Contacts*@
                            @Html.MultiLanguage(46)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)



</body>
</html>