<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:20px;">
         

        @Html.Partial("_LoginPartial")

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <!--FOOTER-->
        <footer class="container">
            <div class="row" style="background-color:#989898; text-align:center; color:#ffffff;">
                <div class="col-md-4"><a href="#" style="color:#ffffff; padding-top:20px; display:inline-block;">Как работи?</a></div>
                <div class="col-md-4"><a href="#" style="color:#ffffff; padding-top:20px; display:inline-block;">За нас</a></div>
                <div class="col-md-4"><a href="#" style="color:#ffffff; padding-top:20px; display:inline-block;">Контакти</a></div>
            </div>
        </footer>



</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Вход</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_LoginModal")
            </div>

        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
