@using akcet_fakturi.Helpers
@using akcet_fakturi.Models
@model LoginViewModel



@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <div class="row">

            @*<div class="col-md-4 pull-left" style="margin-top:10px;">
                    <a href="../../"><img src="../../images/logo.png" class="img-responsive" /></a>
                </div>*@

            <div class="col-md-3 pull-right" style="margin-top:30px;">


                <a href="@Url.Action("Invoices", "Home" )" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-user"></span>
                    @*Hello*@
                    @Html.MultiLanguage(1023)
                    @User.Identity.GetUserName()!
                </a>

            </div>

            <div class="col-md-2 pull-right" style="margin-top:30px;">
                <a href="javascript:document.getElementById('logoutForm').submit()" type="button" class="btn btn-sm" style="background-color:#FF8C00; color:#ffffff;">
                    @*Log out*@
                    @Html.MultiLanguage(1022)
                </a>
            </div>
        </div>





    }
}
else
{





    using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal  k-justifyCenter", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row" style="background-color:#ffffcc; width:100%; padding-top:5px; padding-bottom:5px; margin-top:-10px; margin-left: 1%">
            <div class="col-md-4" style="padding:0px;">
                <label for="firstname" class="control-label col-md-2">
                    @*User name*@
                    @Html.MultiLanguage(1)
                </label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User name" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="col-md-4">
                <label for="firstname" class="col-sm-3 control-label">
                    @*Password*@
                    @Html.MultiLanguage(2)
                </label>
                <div class="col-sm-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "", id = "rememberMe" })
                    <label for="rememberMe">
                        @*@Html.LabelFor(m => m.RememberMe)*@
                        @Html.MultiLanguage(3)
                    </label>
                </div>

            </div>

            <div class="col-md-2">

                <input type="submit" class="btn" style="background-color:#FF8C00; padding-left:35px; padding-right:35px; color:#ffffff; font-weight:bold;"
                       value="@Html.MultiLanguageString(4)" />
            </div>
        </div>


        @*<div class="row" style="margin-top:20px;">
                <div class="col-md-4  "><img src="../../images/logo.png" class="img-responsive" /></div>
            </div>*@
    }


}
