@model akcet_fakturi.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Manage = "active";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />

    <table class="table table-hover table-striped">
      
            <tr>
                <td>
                    Full Name:
                </td>
                <td>@Model.FullName</td>
                <td>
                    [ @Html.ActionLink("Change name", "ChangeNames", "Manage") ]
                </td>
            </tr>
            <tr>
                <td>
                    Phone Number:
                </td>
                <td>@Model.PhoneNumber</td>
                <td>[ @Html.ActionLink("Change phone number", "AddPhoneNumber", "Manage") ]</td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td></td>
                <td>
                    [
                    @if (Model.HasPassword)
            {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </td>
            </tr>
            <tr>
                <td>
                    Company:
                </td>
                <td>@Model.Company</td>
                <td>[ @Html.ActionLink("Change other info", "ChangeOtherInfo", "Manage") ]</td>
            </tr>
        <tr>
        <tr>
            <td>
                Bank Account:
            </td>
            <td>@Model.BankAccount</td>
            <td>[ @Html.ActionLink("Change other info", "ChangeOtherInfo", "Manage") ]</td>
        </tr>
        <tr>
            <td>
                DDS:
            </td>
            <td>@Model.Dds</td>
            <td>[ @Html.ActionLink("Change other info", "ChangeOtherInfo", "Manage") ]</td>
        </tr>
        <tr>
            <td>
                KWK:
            </td>
            <td>@Model.Kwk</td>
            <td>[ @Html.ActionLink("Change other info", "ChangeOtherInfo", "Manage") ]</td>
        </tr>
    </table>

 
</div>
