@using akcet_fakturi
@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.DD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Dds = "active";
}

<h2>Index</h2>
  <!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
<p>
    @Html.ActionLink("Create New", "Create")
</p>


@(Html.Kendo().Grid(Model).Name("DDs").Sortable().Filterable().Pageable().Columns(columns =>
{
    columns.Bound(m => m.Value);
    columns.Bound(m => m.DateCreated);
    columns.Bound(m => m.DateModified);
    columns.Bound(m => m.UserName);

    columns.Template(@<text>
        @Html.ActionLink("Edit", "Edit", new { id = item.DdsID }) |
        @Html.ActionLink("Details", "Details", new { id = item.DdsID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.DdsID })
    </text>).Title("Функции");
})
      )
