@using Kendo.Mvc.UI
@model IEnumerable<akcet_fakturi.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ApplicationUsers = "active";
}

<h2>Потребители</h2>
<!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@(Html.Kendo().Grid(Model).Name("User").Sortable().Filterable().Pageable().Columns(columns =>
{

columns.Bound(m => m.UserName).Title("Потребителско име");

columns.Bound(m => m.CompanyName);
columns.Bound(m => m.PhoneNumber);
columns.Bound(m => m.Address);
columns.Bound(m => m.BankAcount);
columns.Bound(m => m.KwkNumber);
columns.Bound(m => m.DdsNumber);


columns.Template(@<text>
                         @Html.ActionLink("Детайли", "Details", new { id = item.Id }) |
                         @Html.ActionLink("Редактирай", "Edit", new {id = item.Id}) |
                         @Html.ActionLink("Изтрий", "Delete", new {id = item.Id})
                      </text>).Title("Функции");
})
)

