@using Kendo.Mvc.UI
@model IEnumerable<akcet_fakturi.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ApplicationUsers = "active";
}

<h2>Потребители</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@(Html.Kendo().Grid(Model).Name("DDs").Sortable().Filterable().Pageable().Columns(columns =>
{
columns.Bound(m => m.FirstName);
columns.Bound(m => m.LastName);
columns.Bound(m => m.BankAcount);
columns.Bound(m => m.KwkNumber);
columns.Bound(m => m.DdsNumber);
columns.Bound(m => m.CompanyName);
columns.Bound(m => m.Email);
columns.Bound(m => m.PhoneNumber);



    @*columns.Template(@<text>
        @Html.ActionLink("Edit", "Edit", new { id = item.DdsID }) |
        @Html.ActionLink("Details", "Details", new { id = item.DdsID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.DdsID })
    </text>).Title("Функции");*@
})
)

