@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ApplicationUsers = "active";
}

<h2>Users</h2>
<!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@(Html.Kendo().Grid(Model).Name("User").Sortable().Filterable().Pageable().Columns(columns =>
{

columns.Bound(m => m.UserName).Title("User name");

columns.Bound(m => m.CompanyName);
columns.Bound(m => m.Address);
columns.Bound(m => m.BankAcount);
columns.Bound(m => m.KwkNumber);
columns.Bound(m => m.DdsNumber);
columns.Bound(m => m.DateCreated);

columns.Template(@<text>
                         @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                         @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                         @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                      </text>).Title("Functions");
})
)

