@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Products = "active";
}

<h2>Products</h2>
  <!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
<p>
    @Html.ActionLink("Create new", "Create",  null, new {@class="btn btn-warning btnCreateNew" })
</p>

@(Html.Kendo().Grid(Model).Name("Products").Sortable().Filterable().Pageable().Columns(columns =>
{
    columns.Bound(m => m.ProductName);
    columns.Bound(m => m.DateCreated);
    columns.Bound(m => m.DateModified);
    columns.Template(@<text>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
    </text>).Title("Functions");
})
)
