@using akcetDB
@using akcet_fakturi.Helpers
@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Companies = "active";

}

<h2>
    @*Companies*@
    @Html.MultiLanguage(31)
</h2>
  <!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
<p>
    @Html.ActionLink(Html.MultiLanguageString(1073), "Create", null, new {@class="btn btn-warning btnCreateNew" })
</p>

@(Html.Kendo().Grid(Model).Name("Copmanies").Sortable().Filterable().Pageable().Columns(columns =>
{
    columns.Bound(m => m.CompanyName);
    columns.Bound(m => m.CompanyMol);
    columns.Bound(m => m.DdsNumber);
    columns.Bound(m => m.CompanyPhone);
    columns.Template
    (@<text>
                         @Html.ActionLink(Html.MultiLanguageString(1086), "Edit", new { id = item.CompanyID }) |
                        @Html.ActionLink(Html.MultiLanguageString(1085), "Details", new { id = item.CompanyID }) |
                        @Html.ActionLink(Html.MultiLanguageString(1015), "Delete", new { id = item.CompanyID })
                      </text>).Title(Html.MultiLanguageString(1064));
})
)