@using akcetDB
@using Kendo.Mvc.UI
@model IEnumerable<akcetDB.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Companies = "active";
    
}

<h2>Компании</h2>
  <!-- Helper for info boxes after manipulating data -->
@ResultHelper.ResultFromTempData(TempData)
<p>
    @Html.ActionLink("Създай нова компания", "Create", null, new {@class="btn btn-success btnCreateNew" })
</p>

@(Html.Kendo().Grid(Model).Name("Copmanies").Sortable().Filterable().Pageable().Columns(columns =>
{
    columns.Bound(m => m.CompanyName);
    columns.Bound(m => m.CompanyMol);
    columns.Bound(m => m.DdsNumber);
    columns.Bound(m => m.CompanyPhone);
    columns.Template(@<text>
                         @Html.ActionLink("Редактирай", "Edit", new { id = item.CompanyID }) |
                        @Html.ActionLink("Детайли", "Details", new { id = item.CompanyID }) |
                        @Html.ActionLink("Изтрий", "Delete", new { id = item.CompanyID })
                      </text>).Title("Функции");
})
)